<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ .Base.PageTitle }} - {{ .Base.SiteTitle }}</title>
  <script src="https://kit.fontawesome.com/741a402806.js" crossorigin="anonymous"></script>
  <script src="/public/js/htmx.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
  <script src="/public/js/htmx.min.js"></script>
</head>

<body class="bg-slate-900 bg-backdrop-image bg-no-repeat bg-cover">
  <h1>{{ .Test }}</h1>
</body>
<script src="/public/js/util.js"></script>

</html>